@font-face {
  font-family: "Mario-Kart-DS.ttf";
  src: url(Mario-Kart-DS.ttf);
}
html {
  font-family: "Mario-Kart-DS.ttf";
}
canvas {
  border: 2px gray solid;
  /*background-image: url("racetrack.png");*/
}

img {
  z-index: 10;
}

#p_s {
  position: absolute;
  top: 210px;
  left: 125px;
  font-size: 100px;
}
